@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

section {
    min-height: 100vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    display: flex;

}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.card {
    height: 160px;
    border-radius: 10px;
    background: rgb(247, 247, 248);
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0.4px;
}


p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    color: rgba(21, 20, 57, 0.4);
    margin-top: 10px;
    margin-bottom: 52px;
}

h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    color: #1E0E62;
    margin-bottom: 10px;
}

.mb-24 {
    margin-bottom: 24px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}



@media (min-width:576px) {
    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width:768px) {
    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;

    }
}

@media (min-width:992px) {
    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }
}